@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Details</h2>
@Model.Name
<br />
@{
    if (Model.Birthday == null)
    {
        <p>No birthday listed.</p>
    }
    else {
        <p>@Model.Birthday</p>
    }
}
